body {
  background-color: #F8EDFC;
}

h1 {
  color: #603470;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: #603470;
  font-size: 35px;
  font-family: 'Barriecito', cursive;
}

ul, ol {
  font-family: 'Oxygen', sans-serif;
}

ul li{
  padding: 5px 5px 5px 0;
  list-style-image: url('../img/cake.png');
}

ol li{
  counter-increment: step-counter;
  list-style-type: none;
  padding: 0 5px 30px 0;
 }

 ol li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #D899D8;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

p {
  color: blue;
  font-family: 'Nunito', sans-serif;
}

p.description {
  width: 600px;
}

div.left{
  width: 600px;
  float: left;
}

div.right {
  width: 600px;
  float: right;
}

#footer {
  display: flex;
  justify-content: center;
  color: #FFF0FF;
  background-color: #996A99;
  width: 1255px;
  padding: 10px 0 10px 0;
}