/* CAROUSEL BOOTSTRAP */
.carousel-indicators li {
  background-color: #e00c0c;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #e00c0c;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #e00c0c;
}

.card {
  border: none;
}